<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blue or Red</title>
    <% if (random == 1) { %>
        <link rel="stylesheet" href="/red.css">
    <% } else{ %>
        <link rel="stylesheet" href="/blue.css">
    <% } %>
</head>
<body>
    
</body>
</html>